html[dir] ._12RFwqyytlNdLGTEvbkGEF,
html[dir] ._2TH_lqaoOPBpCTlDAQbdPL,
html[dir] ._39t1Yy85WX6tG-kM3-jR-t,
html[dir] .Tw0VCI618qygtv1Rxe1u6 {
	border-bottom: none !important;
}
.tMZrY6oi1bRkarRSbJvLr .wH2q_7pdVCvtoo3ledD5d ._8AQGL0pGU_MDkLofXOAXI,
._n_h, ._1_ag99JsBHxI6S4FP5ayPv,
._1ZEdP0-JdMOVtjBb5ZcM6M {
	display: none !important;
}
.conductorContent div:nth-last-child(1),
.conductorContent div:nth-last-child(2) {
	right: 0 !important;
}
html[dir] .n1O1yKKQnfbPMo9fvZ5QH,
html[dir] ._3am_5-Qakpw6Y1uciOunxX {
	margin-bottom: 0 !important;
}
html[dir=ltr] ._1XJLThPJyfP1uedjzaUYHS,
html[dir=ltr] ._3Y-bYDf3RHNQuCg6reBBbz {
	border-right: none !important;
}
html[dir] ._39MnDZ9Hn8ehRTe9z70yg4 {
	border-top: none !important;
}
html[dir=ltr] ._12RFwqyytlNdLGTEvbkGEF {
	padding: 0 !important;
}
._2Xnh7dr1gaysisAo6fqcXh ._1zxENq4RxEC9ydsMnwBcAu {
	background: var(--themeLight) !important;
}

:root {
	--themeDark: #fff !important;
	--themeDarker: #fff !important;
	--themePrimary: #fff !important;
	--headerBackgroundSearch: #fff !important;
	--headerButtonsBackgroundSearch: #fff !important;
	--headerSearchButtonIcon: #fff !important;
	--headerSearchFilters: #fff !important;

	--neutralLight: #222 !important; /* 151515 */
	--themeLight: #222 !important;
	--headerSearchButtonBackground: #222 !important;

	--headerButtonsBackground: #111 !important;
	--headerButtonsBackgroundHover: #111 !important;
	--headerBackground: #111 !important;
	--neutralLighter: #111 !important;
	--neutralLighterAlt: #111 !important;
	--themeTertiary: #111 !important;

	--white: #030303 !important;

	--headerSearchBoxIcon: rgba(255,255,255,0.80) !important;
	--neutralPrimary: rgba(255,255,255,0.80) !important;
	--neutralDark: rgba(255,255,255,0.80) !important;
	--neutralSecondary: rgba(255,255,255,0.50) !important;
	--headerSearchButtonBackgroundHover: rgba(255,255,255,0.50) !important;

	--themeDarkAlt: #f4b400 !important;
}
