// VARIABLES
$lightest: #fff !important;
$lighter: #{rgba(#fff, .8)} !important;
$light: #{rgba(#fff, .5)} !important;
$dark: #222 !important;
$darker: #111 !important;
$darkest: #030303 !important;
$gold: #f4b400 !important;

:root {
	--black: #{$lightest};
	--themeDark: #{$lightest};
	--themeDarker: #{$lightest};
	--themePrimary: #{$lightest};
	--headerBackgroundSearch: #{$lightest};
	--headerButtonsBackgroundSearch: #{$lightest};
	--headerSearchButtonIcon: #{$lightest};
	--headerSearchFilters: #{$lightest};

	--neutralLight: #{$dark};
	--themeLight: #{$dark};
	--headerSearchButtonBackground: #{$dark};

	--headerButtonsBackground: #{$darker};
	--headerButtonsBackgroundHover: #{$darker};
	--headerBackground: #{$darker};
	--fallback-themePrimary: #{$darker};	// Compose send button/CC BCC text
	--fallback-themeDark: #{$darker};	// Compose from/to text
	--neutralLighter: #{$darker};
	--neutralLighterAlt: #{$darker};
	--themeTertiary: #{$darker};

	--white: #{$darkest};

	--headerButtonsBackgroundSearchHover: #{$lighter};
	--headerSearchBoxIcon: #{$lighter};
	--headerSearchFiltersHover:#{$lighter};
	--neutralPrimary: #{$lighter};
	--neutralDark: #{$lighter};
	--neutralSecondary: #{$light};
	--headerSearchButtonBackgroundHover: #{$light};

	--themeDarkAlt: #{$gold}; // Sidebar star icon

	--whiteTranslucent40: #{rgba(33, 33, 33, 0.4) !important};
	--headerSearchBoxBackground: #{rgba(33,33,33,0.7) !important};
}


// DESKTOP SITE
// New message compose: From/to message label background color and border
#app > .ms-Fabric > div:last-child > div > div:first-child > div:nth-child(3) > div:last-child > div > div:nth-child(2) > div:first-child > div > div > div > div:first-child > div:first-child > div:first-child > div:first-child > div:first-child > div:first-child,
.RecipientWellLabelWithContactPicker-label {
	background: #fff !important;
	border: 1px solid !important;
}

/* Reduce min width */
body {
	min-width: 700px !important;
}

/* Change header color (logo, spacer, main bar, left app button, skype button, settings button, help button, whats new button, profile picture button) */
#O365_AppName,
.o365cs-base .o365sx-appName,
#app > .ms-Fabric > div:nth-child(2) > div:first-child > div:first-child,
#app > .ms-Fabric > div:nth-child(2) > div:first-child > div:first-child > div:first-child > div:first-child > button:first-child,
#skype,
#owaSettingsButton,
#O365_MainLink_Help,
#whatsnew,
#O365_MainLink_Me {
	background-color: #111 !important;
}

/* Hide right ad sidebar */
#app > .ms-Fabric > div:last-child > div:first-child > div:first-child > div:last-child {
	display: none !important;
}

/* Hide bottom ad */
#app > .ms-Fabric > div:last-child > div:first-child > div:last-child {
	display: none !important;
}

/* Hide ad in left sidebar */
#app > .ms-Fabric > div:last-child > div > div:first-child > div:first-child > div:last-child > div > div:nth-child(2){
	display: none !important;
}

/* Remove bottom border: messages in list, time headers (in message list) */
div[data-convid],
.full {
	margin-bottom: 0 !important;
}

/* Remove bottom border: header, left sidebar (top), folder header (in message list), inbox header */
#app > .ms-Fabric > div:last-child > div > div:first-child > div:nth-child(3) > div:first-child,
#app > .ms-Fabric > div:last-child > div > div:first-child > div:first-child > div:first-child > div,
.SLVConversationViewSenderImageOnDensity,
div[aria-label="Message list"] > div:first-child {
	border-bottom: none !important;
}

/* Remove top border: left sidebar (bottom) */
#app > .ms-Fabric > div:last-child > div > div:first-child > div:first-child > div:last-child > div > div:last-child {
	border-top: none !important;
}

/* Reduce left sidebar scrollbar width and remove right border */
#app > .ms-Fabric > div:last-child > div > div:first-child > div:nth-child(2) {
	width: initial !important;
}

/* App launcher background color */
div[aria-label="App launcher opened"],
#appLauncher {
	background-color: #111 !important;
}

/* App launcher text/icon color */
#appLauncher > button,
#appLauncherMainView > a,
#appsModule > h2,
#appsModule > button,
#appsModule > div > div > a > div:last-child {
	color: #fff !important;
}

/* Bottom tabs text color */
#app > .ms-Fabric > div:last-child > div > div:first-child > div:nth-child(3) > div:last-child > div > div:nth-child(2) > div:last-child > div > div {
	color: var(--black) !important;
}



// MOBILE SITE
// Ad tile
._3MdpcPqcGApCRCt0Wh_uWP {
	display: none !important;
}

// Header
._2KxzPQv7L875Av0qyeZ5uf, ._2CMcGI-ZZ4XPUOnUgy7pHB {
	background: var(--neutralLighter) !important;
}

// Search header
._34U_ZJjJNaZPGirIEM7OSm {
	background: var(--neutralLighter) !important;
	border-bottom: none !important;
}

// Search input
._2NiiS0iay_UYyRo2JbejBV {
	background: var(--themeLight) !important;
}

// Search folder button/icon
._259D2UqjzwsuQCrUKybxjZ,
._3XnNWJ-rExWauud1xk1yV {
	color: var(--themeDark) !important;
}

// Search folder popup
._3Cf1XYlgur0bnN7a2tAn9i {
	color: var(--white) !important;
}

// Create message header
._31Mv52tbMKyzJQgXIo-fTh {
	background: var(--neutralLighter) !important;
}

// Filter button
._1UUT3BP0fJWYK0keUbh9Qj ._1IxaL77yEy7Y65lMHHk3vV,
._1UUT3BP0fJWYK0keUbh9Qj ._1IxaL77yEy7Y65lMHHk3vV {
	color: var(--themeDark) !important;
}

// Footer button icons
._2Apqf9rYzkB2FDMv87Mkuv {
	color: var(--themeDark) !important;
}

// Header email address
._3yoSOI_qjqE2i00lnAY9kz {
	color: var(--themeDark) !important;
}

// Filter bar
._35poD7UzthWpvLbeMhpwGz {
	background: var(--neutralLighter) !important;
	border-bottom: none !important;
}

// Filter icon
._1UUT3BP0fJWYK0keUbh9Qj {
	color: var(--themeDark) !important;
}

// Footer
	// Main footer
	.Oqogs1odxeOVmBE8Xl5gi {
		background: var(--neutralLighter) !important;
		border-top: none !important;
	}

	// Message reply/forward bar
	.nTXoB4PfCKm2ppyqY2KyJ {
		background: var(--neutralLighter) !important;
		border-top: none !important;
	}

	// Message reply/forward icons
	.nTXoB4PfCKm2ppyqY2KyJ > i {
		color: var(--themeDark) !important;
	}


// Message list
	// Message subject
	._2Tt6Xe0aQ1u45pS6dZDvVX {
		color: var(--neutralPrimary) !important;
	}

	// Current/unread message subject
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2axPYRV5O5wkmXEwegK4-S,
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2Tt6Xe0aQ1u45pS6dZDvVX,
	._30HXVqbjj-i5OASGQRCIHt {
		color: var(--neutralPrimary) !important; // var(--themeDark)
	}

	// Current/unread message highlight
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2wT_pe9ccL5Z9daKbIFvIs:before {
		background-color: var(--themeDark) !important;
	}

	// Message title
	.Rcnxv3V357mZssCrwfFQL {
		color: var(--themeDark) !important;
	}

	// Message background
	._35poD7UzthWpvLbeMhpwGz, ._3stv9XVAqlbbQqdGzrforh {
		background: var(--white) !important;
	}

	// Message separator
	._3j2fC5kC18B3JkxKRiB-RD {
		border-bottom: none !important;
	}


// Sidebar
	// Sidebar Outlook logo
	.bQjbCjR71_6Ck63WXDY8M,
	._1EfC2Rf0oPNHo421JDm-TW {
		color: var(--themeDark) !important;
	}

	// Sidebar header text
	div[role=heading] {
		color: var(--themeDark) !important;
	}

	// Sidebar separators
	._1valGcjwp67Os9OCe8td85, ._1QsXx9QYzPNu_NsqU3VFQI, .kIV2JizNc6k-X7Kjg-ETX {
		border: none !important;._1RHn61VtVQ1ERw51W1GE2I .QC8HktsAo3W15G5QvXAII._18MkjPukE-G5E0QCe50tDe {
		color: var(--themeSecondary);
}
	}

	// Sidebar Outlook Beta switch
	._1iAsMkgaZmMKlI3YPy_WYh._3_0hGK7bhB1pKbeU2W91LQ {
		background: var(--white) !important;
		border-color: var(--white) !important;
	}

	// Sidebar Outlook beta label
	.GMiG6SVlH2wXYu6KGUwuN, .IJk79S3bLSkgS6HsA9zvI {
		color: var(--themeDark) !important;
	}

	// Sidebar message unread count
	._3jB_LUp02KWSA7lorsSCPd ._1SkFUDBjCYpRgoOieLtfOC {
		background: none !important;
		color: var(--themeDark) !important;
	}

	// Sidebar feedback/sign out buttons
	.kIV2JizNc6k-X7Kjg-ETX {
		color: var(--themeDark) !important;
	}

	// Sidebar footer
	._2KxzPQv7L875Av0qyeZ5uf {
		padding-bottom: 8px !important;
	}

	// White bar at bottom of sidebar
	.puLckW1HKpgvFeOe2Hh7n {
		display: none !important;
	}


// View message
	// Header
	._2KxzPQv7L875Av0qyeZ5uf, ._2CMcGI-ZZ4XPUOnUgy7pHB {
		background: var(--neutralLighter) !important;
	}
