/*#region VARIABLES */
:root {
	--dmfo-lightest: #fff;
	--dmfo-lighter: rgba(#fff, .8);
	--dmfo-light: rgba(#fff, .5);
	--dmfo-dark: #212121;
	--dmfo-darker: #111;
	--dmfo-darkest: #030303;
	--dmfo-gold: #f4b400;
	--dmfo-border-radius: 4px;
}
/*#endregion*/


/*#region THEME COLORS */
html {
	--black: var(--dmfo-lightest) !important;	// Custom
	--blackTranslucent40: rgba(255, 255, 255, 0.4) !important;
	--blackTranslucent10: rgba(255, 255, 255, 0.1) !important;
	--white: var(--dmfo-darkest) !important;	// Custom
	--whiteTranslucent40: rgba(33, 33, 33, 0.4) !important;
	--whiteTranslucent90: rgba(33, 33, 33, 0.9) !important;
	--neutralDark: #fff !important;
	--neutralPrimary: #fff !important;
	--neutralPrimaryAlt: #f8f8f8 !important;
	--neutralSecondary: #f4f4f4 !important;
	--neutralTertiary: #eaeaea !important;
	--neutralTertiaryAlt: #c8c8c8 !important;
	--neutralQuaternary: #2e2e2e !important;
	--neutralQuaternaryAlt: #2e2e2e !important;
	--neutralLight: #030303 !important;	// Custom
	--neutralLighter: var(--dmfo-darker) !important;	// Custom
	--neutralLighterAlt: var(--dmfo-darker) !important;	// Custom
	--redDark: #e81123 !important;
	--green20: #6bb700 !important;
	--purple: #9c89e9 !important;
	--flaggedMessage: #242100 !important;
	--richUserContentBackground: #eaeaea !important;
	--composeNeutralBackground: #212121 !important;
	--composeNeutralLighterBackground: #fff !important;
	--readingPaneCardBorder: #000 !important;
	--readingPaneCardFocusBorder: #d0d0d0 !important;
	--themeDarker: #d2d2d2 !important;
	--themeDark: #d2d2d2 !important;
	--themeDarkAlt: #d2d2d2 !important;
	--themePrimary: var(--dmfo-lightest) !important;	// Custom
	--themeSecondary: #848484 !important;
	--themeTertiary: #767676 !important;
	--themeLight: var(--dmfo-dark) !important;	// Custom
	--themeLighter: var(--dmfo-dark) !important;	// Custom
	--themeLighterAlt: var(--dmfo-darker) !important;	// Custom
	--headerBackground: #767676 !important;
	--headerBackgroundSearch: #6c6c6c !important;
	--headerBrandText: #fff !important;
	--headerTextIcons: #fff !important;
	--headerSearchBoxBackground: var(--dmfo-dark) !important;	// Custom
	--headerSearchBoxIcon: #f5f5f5 !important;
	--headerSearchPlaceholderText: #f5f5f5 !important;
	--headerSearchButtonBackground: #a8a8a8 !important;
	--headerSearchButtonBackgroundHover: #d2d2d2 !important;
	--headerSearchButtonIcon: #000 !important;
	--headerSearchFilters: #a8a8a8 !important;
	--headerSearchFiltersHover: #f5f5f5 !important;
	--headerButtonsBackground: #767676 !important;
	--headerButtonsBackgroundHover: #6c6c6c !important;
	--headerButtonsBackgroundSearch: #6c6c6c !important;
	--headerButtonsBackgroundSearchHover: #585858 !important;
	--headerBadgeBackground: #f5f5f5 !important;
	--headerBadgeText: #fff !important;
	--headerSearchIcon: #fff !important;
	--searchBoxBackground: rgba(33, 32, 33, .7) !important;
	--fallback-black: #000000 !important;
	--fallback-blackTranslucent40: rgba(0,0,0,.4) !important;
	--fallback-blackTranslucent10: rgba(0,0,0,.1) !important;
	--fallback-white: #fff !important;
	--fallback-whiteTranslucent40: rgba(255,255,255,.4) !important;
	--fallback-whiteTranslucent90: rgba(255,255,255,.9) !important;
	--fallback-neutralDark: #201f1e !important;
	--fallback-neutralPrimary: #323130 !important;
	--fallback-neutralPrimaryAlt: #3b3a39 !important;
	--fallback-neutralSecondary: #605e5c !important;
	--fallback-neutralTertiary: #a19f9d !important;
	--fallback-neutralTertiaryAlt: #c8c6c4 !important;
	--fallback-neutralQuaternary: #d2d0ce !important;
	--fallback-neutralQuaternaryAlt: #e1dfdd !important;
	--fallback-neutralLight: #edebe9 !important;
	--fallback-neutralLighter: #f3f2f1 !important;
	--fallback-neutralLighterAlt: #faf9f8 !important;
	--fallback-redDark: #a4262c !important;
	--fallback-green20: #0b6a0b !important;
	--fallback-purple: #5c2d91 !important;
	--fallback-flaggedMessage: #fffdd9 !important;
	--fallback-richUserContentBackground: #fff !important;
	--fallback-composeNeutralBackground: #fff !important;
	--fallback-composeNeutralLighterBackground: #f4f4f4 !important;
	--fallback-readingPaneCardBorder: #edebe9 !important;
	--fallback-readingPaneCardFocusBorder: #d0d0d0 !important;
	--fallback-themeDarker: #0C0C0C !important;
	--fallback-themeDark: #1F1F1F !important;
	--fallback-themeDarkAlt: #1F1F1F !important;
	--fallback-themePrimary: #333 !important;
	--fallback-themeSecondary: #555 !important;
	--fallback-themeTertiary: #999 !important;
	--fallback-themeLight: #BBB !important;
	--fallback-themeLighter: #E4E4E4 !important;
	--fallback-themeLighterAlt: #F3F3F3 !important;
	--fallback-headerBackground: #333 !important;
	--fallback-headerBackgroundSearch: #1F1F1F !important;
	--fallback-headerBrandText: #FFF !important;
	--fallback-headerTextIcons: #FFF !important;
	--fallback-headerSearchBoxBackground: rgba(255,255,255,.7) !important;
	--fallback-headerSearchBoxIcon: #0C0C0C !important;
	--fallback-headerSearchPlaceholderText: #0C0C0C !important;
	--fallback-headerSearchButtonBackground: #BBB !important;
	--fallback-headerSearchButtonBackgroundHover: #0C0C0C !important;
	--fallback-headerSearchButtonIcon: #0C0C0C !important;
	--fallback-headerSearchFilters: #0C0C0C !important;
	--fallback-headerSearchFiltersHover: #333 !important;
	--fallback-headerButtonsBackground: #333 !important;
	--fallback-headerButtonsBackgroundHover: #1F1F1F !important;
	--fallback-headerButtonsBackgroundSearch: #1F1F1F !important;
	--fallback-headerButtonsBackgroundSearchHover: #0C0C0C !important;
	--fallback-headerBadgeBackground: #BBB !important;
	--fallback-headerBadgeText: #0C0C0C !important;
	--fallback-headerSearchIcon: #0C0C0C !important;
	--fallback-searchBoxBackground: rgba(255,255,255,.7) !important;
}
/*#endregion*/
