@use 'vars.scss';


/*#region MANUAL OVERRIDES FOR HARDCODED STYLES AND FOR WHEN BUILT-IN DARK MODE IS DISABLED */
// Settings panel header text color (dm override)
.o365cs-base .o365sx-neutral-dark-font, .o365cs-base .o365sx-neutral-dark-hover-font:hover {
	color: var(--dmfo-lightest) !important;
}

// Settings panel header close button icon color (dm override)
.o365cs-base .o365sx-neutral-secondary-font, .o365cs-base .o365sx-neutral-secondary-hover-font:hover {
	color: var(--dmfo-lightest) !important;
}

// Navbar settings icon (dm override)
.o365cs-base .o365sx-activeButton,
.o365cs-base .o365sx-activeButton:hover,
.o365cs-base .o365sx-activeButton:focus {
	color: var(--dmfo-lightest) !important;
}

// Popup profile panel background
.o365cs-base .o365sx-neutral-foreground-background,
.o365cs-base .o365sx-neutral-foreground-hover-background:hover {
	background-color: var(--dmfo-darker) !important;
}

// Navbar color
.o365sx-navbar {
	background-color: var(--dmfo-darker) !important;
}

// Navbar buttons
.o365cs-base .o365sx-button,
.o365cs-base .o365sx-waffle,
.o365cs-base .o365sx-appName,
.o365cs-base .o365sx-appName:visited,
#headerButtonsRegionId > div button {
	background-color: var(--dmfo-darker) !important;
}

// Popup panel background color
.o365cs-base .o365sx-neutral-lighterAlt-background,
.o365cs-base .o365sx-neutral-lighterAlt-hover-background:hover {
	background-color: var(--dmfo-darker) !important;
}

// Text/link colors
.o365cs-base .o365sx-neutral-accent-font,
.o365cs-base .o365sx-neutral-accent-hover-font:hover,
.o365cs-base .o365sx-neutral-accent-link, .o365cs-base .o365sx-neutral-accent-link:hover,
.o365cs-base .o365sx-neutral-accent-link:visited, .o365cs-base .o365sx-neutral-accent-hover-link:hover {
	color: var(--dmfo-lightest) !important;
}
/*#endregion*/


/*#region MANUAL OVERRIDES FOR MESSAGE COMPOSITION HARDCODED STYLES */
div[aria-label='Content pane'] > div:first-child > div:first-child {
	--headerBackground: inherit !important;
	--headerBackgroundSearch: inherit !important;
	--headerSearchBoxBackground: inherit !important;
	--headerSearchButtonBackground: inherit !important;
	--headerSearchButtonBackgroundHover: inherit !important;
	--headerButtonsBackground: inherit !important;
	--headerButtonsBackgroundHover: inherit !important;
	--headerButtonsBackgroundSearch: inherit !important;
	--headerButtonsBackgroundSearchHover: inherit !important;
	--headerBadgeBackground: inherit !important;
	--searchBoxBackground: inherit !important;
	--richUserContentBackground: inherit !important;
	background: inherit !important;

	--themeDarker: inherit !important;
	--themeDark: inherit !important;
	--themeDarkAlt: inherit !important;
	--themePrimary: inherit !important;
	--themeSecondary: inherit !important;
	--themeTertiary: inherit !important;
	--themeLight: inherit !important;
	--themeLighter: inherit !important;
	--themeLighterAlt: inherit !important;
	--headerBrandText: inherit !important;
	--headerTextIcons: inherit !important;
	--headerSearchBoxIcon: inherit !important;
	--headerSearchPlaceholderText: inherit !important;
	--headerSearchButtonIcon: inherit !important;
	--headerSearchFilters: inherit !important;
	--headerSearchFiltersHover: inherit !important;
	--headerBadgeText: inherit !important;
	--headerSearchIcon: inherit !important;
	--black: inherit !important;
	--blackTranslucent40: inherit !important;
	--white: inherit !important;
	--whiteTranslucent40: inherit !important;
	--whiteTranslucent90: inherit !important;
	--neutralDark: inherit !important;
	--neutralPrimary: inherit !important;
	--neutralPrimaryAlt: inherit !important;
	--neutralSecondary: inherit !important;
	--neutralTertiary: inherit !important;
	--neutralTertiaryAlt: inherit !important;
	--neutralQuaternary: inherit !important;
	--neutralQuaternaryAlt: inherit !important;
	--neutralLight: inherit !important;
	--neutralLighter: inherit !important;
	--neutralLighterAlt: inherit !important;
	--redDark: inherit !important;
	--purple: inherit !important;
	--flaggedMessage: inherit !important;
	color: inherit !important;
}

// Subject field background color
.ms-TextField-field[aria-label='Add a subject'] {
	background-color: var(--dmfo-darker) !important;
}

// Message body background color
div[aria-label='Message body'] {
	--headerBackground: initial !important;
	--headerBackgroundSearch: initial !important;
	--headerSearchBoxBackground: initial !important;
	--headerSearchButtonBackground: initial !important;
	--headerSearchButtonBackgroundHover: initial !important;
	--headerButtonsBackground: initial !important;
	--headerButtonsBackgroundHover: initial !important;
	--headerButtonsBackgroundSearch: initial !important;
	--headerButtonsBackgroundSearchHover: initial !important;
	--headerBadgeBackground: initial !important;
	--searchBoxBackground: initial !important;
	--richUserContentBackground: initial !important;
	background-color: var(--dmfo-darkest) !important;
}

// Text background for compose message body
// div[aria-label='Message body'] > div[data-ogsc='#000000'] {
// 	background: transparent !important;
// }


div[aria-label='Message body'] > div[style] {
	background: var(--dmfo-darkest) !important;
	color: var(--dmfo-lightest) !important;
}

// .wide-content-host > div:first-child > .allowTextSelection > div > div > div > div,
// .wide-content-host > div:first-child > .allowTextSelection > div > div > div > div > span[style*='color: rgb(0, 0, 0)'],
// .wide-content-host > div:first-child > .allowTextSelection > div div font[color='black']/* ,
// font[color='black'] */ {
// 	background-color: transparent !important;
// 	color: var(--dmfo-lightest) !important;
// }

// Remove box shadow from message body container
.wide-content-host > div:first-child > div[class]:first-child {
	// border: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

// Various text elements with black text
@mixin blackSpanAndFontCombinations {
	span[style*='color: rgb(0, 0, 0)'],
	span[style*='color:rgb(0,0,0)'],
	span[style*='color: rgb(0,0,0)'],
	span[style*='color:rgb(0, 0, 0)'],
	span[style*='color:#000000'],
	span[style*='color: #000000'],
	span[style*='color:#000'],
	span[style*='color: #000'],
	span[style*='color:black'],
	span[style*='color: black'],
	span[style*='color:windowtext'],
	span[style*='color:  windowtext'],
	font[color='rgb(0,0,0)'],
	font[color='rgb(0, 0, 0)'],
	font[color='#000000'],
	font[color='#000'],
	font[color='black'],
	font[color='windowtext'] {
		background-color: transparent !important;
		color: var(--dmfo-lightest) !important;
	}
}

.wide-content-host div .allowTextSelection div {
	@include blackSpanAndFontCombinations;
	p {
		@include blackSpanAndFontCombinations;
		b {
			@include blackSpanAndFontCombinations;
		}
		i {
			@include blackSpanAndFontCombinations;
		}
	}
}
/*#endregion*/


/*#region GENERAL STYLES */
// Reduce min width
body {
	min-width: 700px !important;
}

// Main search box border radius
div[role=search] {
	background-color: var(--dmfo-dark) !important;
	border: 0 !important;
	border-radius: var(--dmfo-border-radius) !important;
}

// Border radius for various buttons
button.ms-Button[type='button'] {
	border-radius: var(--dmfo-border-radius) !important;
}

// Button hover background color
.o365cs-base .o365sx-neutral-light-hover-background:hover {
	background: var(--dmfo-dark) !important;
}

// Hide bottom border between headings in the message list
div[role=heading] {
	margin-bottom: 0 !important;
}

// Hide bottom border between emails in the message list
div[data-convid] {
	margin-bottom: 0 !important;
}

// Message list action icon button hover color
button.ms-Button.ms-Button--icon:hover {
	color: var(--dmfo-gold) !important;
}

// Hide top border for tab bar
div[aria-label='Message list'] > div:nth-child(3),
div[aria-label='Reading Pane'] > div:nth-child(2) {
	border-width: 0 !important;
}

// Hide borders for tabs and increase border radius
div[aria-label='Message list'] > div:nth-child(3) > div,
div[aria-label='Reading Pane'] > div:nth-child(2) > div {
	border-style: none !important;
	border-radius: var(--dmfo-border-radius) var(--dmfo-border-radius) 0 0 !important;
}
/*#endregion*/


/*#region STYLES FOR LEFT SIDEBAR */
// Remove left sidebar right border
#app > div:first-child > div:nth-child(3) > div:first-child > div:first-child > div:nth-child(2) {
	width: 0 !important;
}

// Hide bottom border under the new button on the left sidebar
div[aria-label='Navigation pane'] > div:first-child > div {
	border-bottom: 0 !important;
}

// Hide top border of navigation bar at bottom of left sidebar
div[role=menubar] {
	border-top: 0 !important;
}
/*#endregion*/


/*#region STYLES FOR COMPOSING/VIEWING MESSAGES */
// Hide borders for content pane
// div[aria-label='Content pane'] > div > div:first-child > div:nth-child(2),
// div[aria-label='Content pane'] > div > div:first-child > div:nth-child(3) {
// 	border: 0 !important;
// }

// Remove element below content pane
div[aria-label='Content pane'] > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(3) {
	display: none !important;
}

// Hide command toolbar bottom border
div[aria-label='Command toolbar'] {
	border-bottom: 0 !important;
}

// Content pane background
div[aria-label='Content pane'] {
	background: var(--dmfo-darkest) !important;
}

// Hide email message pane border
// .wide-content-host > div {
// 	border: 0 !important;
// }
/*#endregion*/


/*#region STYLES FOR NAVBAR/PANES */
// Hide popup panel left border
#O365fpcontainerid {
	border-left: 0 !important;
}


/*#region STYLES FOR CALENDAR PANE */
// Calendar pane background (main panel, header body background, New Event button, New Event button)
#FlexPane_OwaTimePanel,
#FlexPane_OwaTimePanel > div:first-child > div:first-child > div:first-child,
#CustomFlexPane_OwaTimePanel > div > div > div,
#CustomFlexPane_OwaTimePanel > div > div > div > div:first-child > div:nth-child(3),
#CustomFlexPane_OwaTimePanel > div > div > div > div:first-child > div:nth-child(3) > button {
	background: var(--dmfo-darker) !important;
}

// Calendar pane horizontal borders
#CustomFlexPane_OwaTimePanel > div > div > div > div:first-child > div,
#CustomFlexPane_OwaTimePanel > div > div > div > div:first-child > div:nth-child(3) > button {
	border: 0 !important;
}
/*#endregion*/


/*#region STYLES FOR SKYPE PANE */
// Skype pane background color and text color
.ms-Callout-main {
	background-color: var(--dmfo-darker) !important;
	color: var(--dmfo-lightest) !important;
}

// Skype pane bottom borders between messages
.swcRecentItem {
	border-bottom: 0 !important;
}

// Skype pane message hover background
.swcRecentItem:hover {
	background-color: var(--dmfo-dark) !important;
}

// Skype pane message title
.swcRecentItem__title {
	color: var(--dmfo-lightest) !important;
}

// Skype pane message preview text
.swcMessagePreview__message {
	color: #eee !important; // TODO: Change this color later
}

// Skype pane message timestamp text color
.swcRecentItem__timestamp {
	color: #eee !important; // TODO: Change this color later
}

// Skype pane recent button text color
.swc.swc-recents .swcRecentsHeader__recentMenuButtonTitle {
	color: var(--dmfo-lightest) !important;
}

// Skype pane (new chat button and search placeholder text color)
.swc.swc-recents.minimal .swcRecentsHeader__newChatButton,
.swc.swc-recents.minimal .swcRecentsHeader__searchInput {
	color: var(--dmfo-lightest) !important;
}

// Skype pane button hover colors (more button, new chat/recents button, close button)
.swc-recents .swcRecentsHeader__moreButton:hover,
.swcRecentsHeader__secondRow button:hover {
	background: var(--dmfo-dark) !important;
}

// Skype pane new chat/recents button hover background color
.swcRecentsHeader__secondRow button:hover {
	background: var(--dmfo-dark) !important;
}

// Skype pane search box background
.swcSearchInput {
	background-color: var(--dmfo-dark) !important;
}

// Skype pane search box icon size
.swcIcon_size_medium {
	font-size: 14px !important;
	padding: .65em !important;
}

// Skype pane search box input text size
.swcSearchInput__input {
	font-size: 14px !important;
}

// Skype pane search box more button icon size and color
.swcRecentsHeader__moreButton {
	color: var(--dmfo-lightest) !important;
	height: initial !important;
}

// Skype pane search box background color (behind actual search box element)
.swcRecentsHeader__searchInput {
	background-color: transparent !important;
}

// Skype pane background color
.swc.swc-recents.dark {
	background-color: var(--dmfo-darker) !important;
}

// Skype pane icon color
.swc.swc-recents.dark .swcRecentsHeader__searchInput .swcIcon_cancel, .swc.swc-recents.dark .swcRecentsHeader__searchInput .swcIcon_search {
	color: var(--dmfo-lightest) !important;
}

// Skype pane new chat button color
.swc.swc-recents.dark .recentsContainer .swcRecentsHeader__newChatButton {
	color: var(--dmfo-lightest) !important;
}

// Skype pane background
.swc.swc-recents.dark .swcRecentsHeader__searchInput {
	background-color: initial !important;
}

// Skype more options pane background color
.swc-bubble.list .swc-content {
	background-color: var(--dmfo-dark) !important;
}

// Remove Skype more options menu bottom border
.swc-bubble.list .swc-content ul {
  border-bottom: none !important;
}

// Skype more options pane menu item background color and text color
.swc-bubble.list .swc-content ul li {
	background-color: var(--dmfo-dark) !important;
	color: var(--dmfo-lightest) !important;
}

// Skype more options pane menu item focus background color and text color
.swc-bubble.list .swc-content ul li:focus {
  background-color: var(--dmfo-darker) !important;
}

// Skype more options pane list item hover background color and text color
.swcMenuList__item:hover {
	background-color: var(--dmfo-darker) !important;
}

// Skype more options pane title color
.swc .swcPageHeader__title {
	color: var(--dmfo-lightest) !important;
}

// Skype more options pane text color
.swcMenuList__item {
	color: var(--dmfo-lightest) !important;
}

// Skype more options pane hover background color
.swcMenuList__item:hover {
	background-color: var(--dmfo-dark) !important;
}

// Skype more options pane back button color and border radius
.swc .swcPageHeader__backButton {
	color: var(--dmfo-lightest) !important;
	border-radius: var(--dmfo-border-radius) !important;
}

// Skype more options pane back button hover background color
.swc .swcPageHeader__backButton:hover {
	background-color: var(--dmfo-dark) !important;
}
/*#endregion*/
/*#endregion*/


/*#region STYLES FOR MESSAGE DELETION TOOLTIP */
// Message deletion tooltip background color and border radius
._3xqEuTlsJbTQdiBbqhDlEy > div:first-child > div:first-child {
	background-color: var(--dmfo-darker) !important;
	border-radius: var(--dmfo-border-radius) var(--dmfo-border-radius) 0 0  !important;
}

// Message deletion tooltip undo/close button background color
._3xqEuTlsJbTQdiBbqhDlEy > div:first-child > div:first-child > div:nth-child(2) > button {
	background-color: var(--dmfo-darker) !important;
}

// Message deletion tooltip undo/close button background color
._3xqEuTlsJbTQdiBbqhDlEy > div:first-child > div:first-child > div:nth-child(2) > button:hover {
	background-color: var(--dmfo-dark) !important;
}
/*#endregion*/


/*#region AD HIDING FOR OUTLOOK PERSONAL */
// Hide left ad in sidebar
#app > div:first-child > div:last-child > div:first-child > div:first-child > div:first-child div:last-child > div:first-child > div:nth-child(2):not([role]) {
	display: none !important;
}

// Hide right ad sidebar (when screen is wide)
#app > div:first-child > div:last-child > div:first-child > div:first-child > div:nth-child(4):not([data-max-width]) {
	display: none !important;
}

// Hide bottom ad (when screen is narrow)
#app > div:first-child > div:last-child > div:first-child > div:nth-child(2) {
	display: none !important;
}
/*#endregion*/


/*#region STYLES FOR LOADING/SPLASH SCREEN */
#loadingScreen {
	background-color: var(--dmfo-darker) !important;
}

#loadingScreen > #loadingLogo {
	display: none !important;
}

#loadingScreen > #MSLogo {
	display: none !important;
}

#loadingScreen > #loadingSpinner {
	opacity: 1 !important;
	position: fixed !important;
	top: calc(50% - 40px) !important;
	left: calc(50% - 40px) !important;
}

#loadingScreen > #loadingSpinner > g > g > circle {
	stroke: var(--dmfo-lightest) !important;
}

#spinnerCircle {
	stroke: transparent !important;
}
/*#endregion*/





// MOBILE SITE (THEMES FOR FIREFOX MOBILE)
// TODO: These styles need to be updated
// Ad tile
._3MdpcPqcGApCRCt0Wh_uWP {
	display: none !important;
}

// Header
._2KxzPQv7L875Av0qyeZ5uf, ._2CMcGI-ZZ4XPUOnUgy7pHB {
	background: var(--neutralLighter) !important;
}

// Search header
._34U_ZJjJNaZPGirIEM7OSm {
	background: var(--neutralLighter) !important;
	border-bottom: none !important;
}

// Search input
._2NiiS0iay_UYyRo2JbejBV {
	background: var(--themeLight) !important;
}

// Search folder button/icon
._259D2UqjzwsuQCrUKybxjZ,
._3XnNWJ-rExWauud1xk1yV {
	color: var(--themeDark) !important;
}

// Search folder popup
._3Cf1XYlgur0bnN7a2tAn9i {
	color: var(--white) !important;
}

// Create message header
._31Mv52tbMKyzJQgXIo-fTh {
	background: var(--neutralLighter) !important;
}

// Filter button
._1UUT3BP0fJWYK0keUbh9Qj ._1IxaL77yEy7Y65lMHHk3vV,
._1UUT3BP0fJWYK0keUbh9Qj ._1IxaL77yEy7Y65lMHHk3vV {
	color: var(--themeDark) !important;
}

// Footer button icons
._2Apqf9rYzkB2FDMv87Mkuv {
	color: var(--themeDark) !important;
}

// Header email address
._3yoSOI_qjqE2i00lnAY9kz {
	color: var(--themeDark) !important;
}

// Filter bar
._35poD7UzthWpvLbeMhpwGz {
	background: var(--neutralLighter) !important;
	border-bottom: none !important;
}

// Filter icon
._1UUT3BP0fJWYK0keUbh9Qj {
	color: var(--themeDark) !important;
}

// Footer
	// Main footer
	.Oqogs1odxeOVmBE8Xl5gi {
		background: var(--neutralLighter) !important;
		border-top: none !important;
	}

	// Message reply/forward bar
	.nTXoB4PfCKm2ppyqY2KyJ {
		background: var(--neutralLighter) !important;
		border-top: none !important;
	}

	// Message reply/forward icons
	.nTXoB4PfCKm2ppyqY2KyJ > i {
		color: var(--themeDark) !important;
	}


// Message list
	// Message subject
	._2Tt6Xe0aQ1u45pS6dZDvVX {
		color: var(--neutralPrimary) !important;
	}

	// Current/unread message subject
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2axPYRV5O5wkmXEwegK4-S,
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2Tt6Xe0aQ1u45pS6dZDvVX,
	._30HXVqbjj-i5OASGQRCIHt {
		color: var(--neutralPrimary) !important; // var(--themeDark)
	}

	// Current/unread message highlight
	._3nb5Dwo_CA7TWNZA6rSpE3 ._2wT_pe9ccL5Z9daKbIFvIs:before {
		background-color: var(--themeDark) !important;
	}

	// Message title
	.Rcnxv3V357mZssCrwfFQL {
		color: var(--themeDark) !important;
	}

	// Message background
	._35poD7UzthWpvLbeMhpwGz, ._3stv9XVAqlbbQqdGzrforh {
		background: var(--white) !important;
	}

	// Message separator
	._3j2fC5kC18B3JkxKRiB-RD {
		border-bottom: none !important;
	}


// Sidebar
	// Sidebar Outlook logo
	.bQjbCjR71_6Ck63WXDY8M,
	._1EfC2Rf0oPNHo421JDm-TW {
		color: var(--themeDark) !important;
	}

	// Sidebar header text
	div[role=heading] {
		color: var(--themeDark) !important;
	}

	// Sidebar separators
	._1valGcjwp67Os9OCe8td85, ._1QsXx9QYzPNu_NsqU3VFQI, .kIV2JizNc6k-X7Kjg-ETX {
		border: none !important;
	}

	._1RHn61VtVQ1ERw51W1GE2I .QC8HktsAo3W15G5QvXAII._18MkjPukE-G5E0QCe50tDe {
		color: var(--themeSecondary) !important;
	}

	// Sidebar Outlook Beta switch
	._1iAsMkgaZmMKlI3YPy_WYh._3_0hGK7bhB1pKbeU2W91LQ {
		background: var(--white) !important;
		border-color: var(--white) !important;
	}

	// Sidebar Outlook beta label
	.GMiG6SVlH2wXYu6KGUwuN, .IJk79S3bLSkgS6HsA9zvI {
		color: var(--themeDark) !important;
	}

	// Sidebar message unread count
	._3jB_LUp02KWSA7lorsSCPd ._1SkFUDBjCYpRgoOieLtfOC {
		background: none !important;
		color: var(--themeDark) !important;
	}

	// Sidebar feedback/sign out buttons
	.kIV2JizNc6k-X7Kjg-ETX {
		color: var(--themeDark) !important;
	}

	// Sidebar footer
	._2KxzPQv7L875Av0qyeZ5uf {
		padding-bottom: 8px !important;
	}

	// White bar at bottom of sidebar
	.puLckW1HKpgvFeOe2Hh7n {
		display: none !important;
	}


// View message
	// Header
	._2KxzPQv7L875Av0qyeZ5uf, ._2CMcGI-ZZ4XPUOnUgy7pHB {
		background: var(--neutralLighter) !important;
	}
